<html>
   <body>
      <h1 style = "tex-align: center;"> Publisher </h1>
      <form action = "http://localhost:9999/" method = "POST">
	 <p>File Name <input type = "text" name = "filename" /></p>
	 <p>Title <input type = "text" name = "title" /></p>
         <p>Description in Index <input type = "text" name = "description" /></p>
	 <label for="textbody">Post Text:</label>
         <p><textarea id="textbody" name="textbody" rows="8" cols="50"></textarea></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>
